.sign-in-title{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: gray;
}

body{
    background-image: url("Billeder/MB-background.jpg");
    text-align: center;
    

}

.login-form{
    text-align: right;
    border: 1px solid black;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    opacity: 0.9;
    border-radius: 10px;
}

.sign-in{
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-field{
    margin-top: 25px;
    margin-left: 03em;
    margin-right: 03em;
    margin-bottom: 03em;
}
.help-me-section{
    text-align: center;
    color: black
}

.btn-signup{
    text-align: center;
    margin-bottom: .4em;
    border-top: 1px solid black;

}

.btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 03em;
    background-color: black;
    color: white;
    margin-top: 02em;
    width: 300px;
    height: 40px;
}